

#pl-word{
    color: white;
}
#main-con{
    display: none;
}

legend{
    padding: 1rem;
    font-size: 26px;
}

#pos{
    font-weight: 200;
    font-style: italic;
}

#word-example{
    font-style: italic;
}

button{
    cursor: pointer;
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dictionary{
    text-align: center;
}

#result{
    margin-left: 20vh;
    margin-right: 20vh;
}